body {
    padding: 0;
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    border: 1px solid red;
    text-align: center;
}

.header {
    display:flex;
    position: fixed;
    border: 1px solid seashell;
    height: 69px;
    background-color: black;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
}

.header .nav ul {
    display: flex;
    list-style: none;
    width: 350px;
    justify-content: space-around;
    text-decoration: underline;
}

.header img {
    margin-left: 10px;
    position: relative;
    top: 10px;
}


.first-container {
    background-image: url(./Images/mission-background.webp);
    height: 700px;
    width: 1200px;
}

.mission-text {
    position: relative;
    top: 50%;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

.second-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: center;
}

.tea-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .tea-types figure img {
    margin: 10px;
} */

.third-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url('./Images/locations-background.webp');
    height: 500px;
    width: 1200px;
}

.address {
    display: flex;
    


}

.add {
    background-color: black;
    opacity: 0.9;
    width: 300px;
    height: 300px;
    margin: 20px;
    text-align: center;
    line-height: 2;
    position: relative;
    bottom: 15px;

}

.footer {
    display: block;
    position: relative;
    bottom: 15px;
    width: 100%;
    height: 200px;
    
}

.footer p {
    font-size: 15px;
}
.footer .copyright {
    position: relative;
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
    
}