#container {
    max-width: 400px;
    position: relative;
    margin: auto;
    border: 1px solid green;
}

.header {
    background-color: beige;
    color: blue;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 5px;

}

#display {
    background-color: beige;
    border: 1px solid #000;
    height: 150px;
}

.btn {
    background-color: beige;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    color:green;
    margin: 5px;
    
    
}

.buttonContainer {
    /* border: 1px solid red; */
    margin-top: 5px;
}